.button.back-to-home {
    background-color: #007bff; /* Azul para o botão */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
}

.button.back-to-home:hover {
    background-color: #0056b3; /* Azul escuro quando o mouse passa sobre o botão */
}
