/* botao_financeiro.css */
.botao_financeiro {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-border-radius: 15; /* Rounded corners */
    -fx-background-radius: 15; /* Rounded corners */
    -fx-padding: 10px; /* Padding inside the button */
    -fx-font-size: 16px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Drop shadow effect */
}

.botao_financeiro:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}
