/* vier_all.css */
.button.view_all {
    -fx-background-color: #009688; /* Teal background for view all button */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 14px; /* Font size */
    -fx-border-radius: 15; /* Rounded corners */
    -fx-background-radius: 15; /* Rounded corners */
    -fx-padding: 5px 15px; /* Padding inside the button */
}

.button.view_all:hover {
    -fx-background-color: #00796B; /* Darker teal on hover */
}
