<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financeiro - ArtCraft ERP</title>
    <link rel="stylesheet" href="css/botao_financeiro.css">
    <link rel="stylesheet" href="css/MainView.css">
</head>
<body>
<div class="main-view">
    <h1>Financeiro</h1>
    <button class="botao_financeiro">
        <img src="Imagens/grafico-preditivo.png" alt="Gráfico Preditivo">
        Teste 6
    </button>
    <div class="info">
        <span>Teste 7</span>
    </div>
</div>
</body>
</html>
