<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtCraft ERP</title>
    <link rel="stylesheet" href="/css/main-view.css">
    <link rel="stylesheet" href="/css/botao-financeiro.css">
    <link rel="stylesheet" href="/css/botao-upper.css">
    <link rel="stylesheet" href="/css/efeito-pressed.css">
    <link rel="stylesheet" href="/css/hand.css">
    <link rel="stylesheet" href="/css/view-all.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery-3.6.0.min.js" defer></script>
    <script src="/js/script.js" defer></script>
</head>
<body>
<div class="main-view">
    <h1>Financeiro</h1>
    <button class="botao_financeiro">

    </button>
    <div class="info">
        <p>Descrição do botão financeiro.</p>
    </div>
</div>
</body>
</html>
