<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/produtos.css">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Inclusão do CSS para centralização -->
    <script src="/js/jquery-3.6.0.min.js"></script> <!-- Inclusão do jQuery -->
    <script src="/js/script.js" defer></script>
</head>
<body>
<header>
    <h1>Produtos</h1>
    <a class="button back" href="/">Voltar para Tela Inicial</a> <!-- Botão de volta -->
</header>
<div class="container">
    <div class="content">
        <div class="produto" th:each="produto : ${produtos}">
            <img src="produto-image.jpg" alt="Produto Image">
            <div class="info">
                <h2 th:text="${produto.nome}"></h2>
                <p th:text="${produto.descricao}"></p>
                <a th:href="@{/web/produtos/details/{id}(id=${produto.id})}">Detalhes</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
